#################   .gitignore    #################

#################  dependencies   #################
node_modules/
package-lock.json

################# version control #################
.hgignore
.hg/
dev/
test_dev/
docs_dev/
cred/
.coveralls.yml

#################    IDE files    #################
.idea
.node_history
__pycache__
venv/
venv3/
.nyc_output/

#################   backup sync   #################
desktop.ini
*.gdoc
.dropbox
Thumbs.db