#################   .npmignore    #################
.idea/
.git/
*.swp
npm-debug.log
.hg/
dev/
cred/
docs/
docs_dev/
test/
test_dev/
coverage/
dist/*-*.js
update.js
.nyc_output/
.babelrc
.gitignore
.hgignore
.coveralls.yml
package-lock.json
